<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/partials :: head('Create a remindr')">
</head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
<!--DROPDOWN FOR CONTACTS-->
<div class="container">
    <h2>Invite friends</h2>
    <div class="row">

        <a th:href="@{/contacts/add?from={id}(id = ${remindr.id})}" class="btn btn-primary">Add more friends</a>
        <div class="col-lg-6">
            <input type="text" placeholder="search" id="searchContacts" class="form-control"/>
        </div>
    </div>
    <form th:action="@{/remindrs/{id}/add-contacts(id = ${remindr.id})}" method="post" th:object="${remindr}" id="surveyForm">
        <input type="hidden" name="contacts" value=""/>
        <div class="row contact" th:each="contact : ${contacts}" >
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" th:value="${contact.id}" name="contacts"/>
                  </span>
                <input type="text" class="form-control" readonly="readonly" th:value="${contact.firstName}" />
                     <!--+ ' ' + contact.lastName + ': ' + contact.phoneNumber}"/>&ndash;&gt;-->
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>

        <a th:href="@{/remindrs/{id}/edit-alerts(id = ${remindr.id})}" class="btn btn-primary">Skip for now</a>
        <a th:href="@{/remindrs/create}" class="btn btn-primary">Back</a>
        <button class="btn btn-primary">Save</button>
    </form>

</div>

<nav th:replace="/fragments/partials :: footer"></nav>

<div th:replace="/fragments/partials :: scripts"></div>
<script type="text/javascript" th:src="@{/scripts/add_button.js}"></script>
<script>
    $(document).ready(function(){
       $("#searchContacts").keyup(function(){
           $(".contact").each(function(){
              var show = $(this).find("input[type='text']").val().toLowerCase().indexOf($("#searchContacts").val().toLowerCase()) >= 0;
              if(show){
                  $(this).show();
              } else {
                  $(this).hide();
              }
           })
       })
    });
</script>
</body>
</html>