<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/partials :: head('Create a remindr','/scripts/css/remindrs/add-contacts.css')">
</head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
<!--DROPDOWN FOR CONTACTS-->
<div class="container">
	<h2>Invite friends</h2>
	<div class="row">
		<div class="col-xs-12">
			<a th:href="@{/contacts/add?from={id}(id = ${remindr.id})}" class="btn btn-primary">Add more friends</a>
			<!--<button class="btn btn-primary" id="select-all">Select all Contacts</button>-->
			<!--<button class="btn btn-primary" id="deselect-all">Deselect all Contacts</button>-->
		</div>
		<div class="col-lg-12" th:if="${contacts.size()} != 0">
			<input type="text" placeholder="search" id="searchContacts" class="form-control"/>
		</div>
	</div>
	<form th:action="@{/remindrs/{id}/add-contacts(id = ${remindr.id})}" method="post" th:object="${remindr}"
		  id="surveyForm">
		<input type="hidden" name="contacts" value=""/>
		<div class="list-group col-lg-12">
			<div th:each="contact : ${contacts}">
				<label class="list-group-item list-group-item-action">
					<input type="checkbox" class="contact-checkbox" th:value="${contact.id}" name="contacts"/>
					<span th:text="${contact.firstName}"></span>
				</label>
			</div>
		</div>

		<a th:href="@{/remindrs/{id}/edit-alerts(id = ${remindr.id})}" class="btn btn-primary">Skip for now</a>
		<button class="btn btn-primary">Save</button>
	</form>
</div>
<nav th:replace="/fragments/partials :: footer"></nav>

<div th:replace="/fragments/partials :: scripts"></div>
<script type="text/javascript" th:src="@{/scripts/add_button.js}"></script>
<script>
    $(document).ready(function () {
        $("#searchContacts").keyup(function () {
            $("div.list-group>div").each(function () {
                var show = $(this).text().toLowerCase().indexOf($("#searchContacts").val().toLowerCase()) >= 0;
                if (show) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
        //set a property on the html element
        $("#select-all").click(function () {
            $(".contact-checkbox").prop("checked", true);
        });
        $("#deselect-all").click(function () {
            $(".contact-checkbox").prop("checked", false);
        });


        $(".checkbox-input").click (function () {
            if (!$(".the-checkbox").prop("checked")) {
                $(".the-checkbox").attr("checked", true);
            } else {
                $(".the-checkbox").attr("checked", false);
            }
        });
    });
</script>
</body>
</html>