<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/partials :: head('Create a remindr')">
</head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
<!--DROPDOWN FOR CONTACTS-->
<div class="container">
    <h2>Add alerts</h2>
    <form th:action="@{/remindrs/{id}/add-alerts(id = ${remindr.id})}" th:method="POST" id="surveyForm">
        <input type="hidden" name="alerts" value=""/>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="ZERO" name="alerts"/>
                  </span>
                    <input type="text" class="form-control" readonly="readonly" value="At time of event"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="FIFTEEN" name="alerts" />
                  </span>
                    <input type="text" class="form-control" aria-label="..." readonly="readonly" value="15 minutes before"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="THIRTY" name="alerts" />
                  </span>
                    <input type="text" class="form-control" readonly="readonly" value="30 minutes before"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="HOUR" name="alerts"/>
                  </span>
                    <input type="text" class="form-control" readonly="readonly" value="1 hour before"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="DAY" name="alerts"/>
                  </span>
                    <input type="text" class="form-control" readonly="readonly" value="1 day before"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="WEEK" name="alerts"/>
                  </span>
                    <input type="text" class="form-control" value="1 week before" readonly="readonly" />
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>

        <!--<input type="hidden" id="alertTimes" th:field="*{remindr.alertTimes}" />-->
        <!--<div class="row">-->
            <!--<div class="form-group">-->
                <!--<div class="col-xs-8">-->
                    <!--<select class="form-control" name="alerts">-->
                        <!--&lt;!&ndash;<option value="Select a contact" >Select alert</option>&ndash;&gt;-->
                       <!--<option value="ZERO" selected="selected">At time of event</option>-->
                       <!--<option value="FIFTEEN">15 minutes before</option>-->
                       <!--<option value="THIRTY">30 minutes before</option>-->
                       <!--<option value="HOUR">1 hour before</option>-->
                       <!--<option value="DAY">1 day before</option>-->
                       <!--<option value="WEEK">1 week before</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-xs-4">-->
                    <!--<button type="button" class="btn btn-primary addButton">-->
                        <!--&lt;!&ndash;<i class="fa fa-plus"></i>&ndash;&gt;-->
                        <!--+-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; The option field template containing an option field and a Remove button &ndash;&gt;-->
            <!--<div class="form-group hide" id="optionTemplate">-->
                <!--<div class="col-xs-8">-->
                    <!--<select class="form-control" name="alerts">-->
                        <!--&lt;!&ndash;<option value="Select a contact" disabled>Select alert</option>&ndash;&gt;-->
                        <!--<option value="ZERO" selected="selected">At time of event</option>-->
                        <!--<option value="FIFTEEN">15 minutes before</option>-->
                        <!--<option value="THIRTY">30 minutes before</option>-->
                        <!--<option value="HOUR">1 hour before</option>-->
                        <!--<option value="DAY">1 day before</option>-->
                        <!--<option value="WEEK">1 week before</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-xs-4">-->
                    <!--<button type="button" class="btn btn-default removeButton">-->
                        <!--&lt;!&ndash;<i class="fa fa-minus"></i>&ndash;&gt;-->
                        <!-- - -->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<br />-->
        <!--<br />-->
        <a href="/remindrs" class="btn btn-primary">Skip for now</a>
        <input class="btn btn-primary" type="submit" value="Submit" th:href="@{/remindrs}"/>
        <!--<a href="/remindrs/add-contacts" class="btn btn-primary">Next: Add contacts</a>-->
    </form>
</div>
<div th:replace="/fragments/partials :: scripts"></div>
<script type="text/javascript" th:src="@{/scripts/add_button_alerts.js}"></script>
</body>
</html>