<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:h="http://www.w3.org/1999/html">
<head th:replace="/fragments/partials :: head('Create a remindr')">
<link type="text/css" href="/scripts/cron/jquery-cron.css" rel="stylesheet" />
</head>
<body>
        <!--onload="myFunction()">-->
<nav th:replace="/fragments/partials :: navbar"></nav>
<div class="container">
    <div class="row">
        <h1>Create a remindr event</h1>
        <form th:action="@{/remindrs/create}" method="post" th:object="${remindr}">
            <!--TITLE-->
            <div class="form-group">
                <label for="title">Event title</label>
                <input id="title" name="title" th:field="*{title}" class="form-control" type="text" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('title')}"
                th:errors="*{title}" >
            </div>

            <!--DESCRIPTION-->
            <div class="form-group">
                <label for="description">Event description (optional) </label>
                <textarea class="form-control" rows="3" id="description" name="description" th:field="*{description}"></textarea>
            </div>

            <!--START DATE/TIME-->
            <div class="form-group">
                <label for="startDateTime">Event start date/ time </label>
                <input id="startDateTime" name="startDateTime" class="form-control" type="datetime-local" th:field="*{startDateTime}" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('startDateTime')}"
                th:errors="*{startDateTime}" >
            </div>

            <!--END DATE/TIME-->
            <div class="form-group">
                <label for="endDateTime">Event end date/ time (optional)</label>
                <input id="endDateTime" name="endDateTime" class="form-control" type="datetime-local" th:field="*{endDateTime}" />
            </div>

            <!--RECURRING EVENT INFO-->
            <div id='selector' class="form-group">
                <label for="recurrence">Recurring event (optional) </label>
                <input class="form-control" name="recurrence" type="hidden" id="recurrence" th:field="*{recurrence}"/>
            </div>

            <!--LOCATION-->
            <div class="form-group">
                <label for="location">Event location</label>
                <input type="text" id="location" name="location" th:field="*{location}" class="form-control" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('location')}"
                th:errors="*{location}" >
            </div>

            <!--&lt;!&ndash;UPLOAD AN IMAGE&ndash;&gt;-->
            <!--<h2>Upload an Image</h2>-->
            <!--<form action="/fileupload" method="post" enctype="multipart/form-data">-->
            <!--<div class="form-group">-->
                <!--<label for="myFile">Upload an event image</label>-->
                <!--<input type="file" id="myFile" name="myFile" th:field="*{uploadPath}" class="form-control" />-->
                       <!--&lt;!&ndash;onchange="myFunction()" />&ndash;&gt;-->
                <!--<input type="submit" value="Upload" class="btn" />-->
            <!--</div>-->
            <!--</form>-->

            <!--<p id="demo"></p>-->

        <div class="row">
            <input class="btn btn-primary" type="submit" value="Next" th:href="@{/remindrs/add-contacts}"/>
            <!--<a href="/remindrs/add-contacts" class="btn btn-primary">Next: Add contacts</a>-->
            <a href="/remindrs" class="btn btn-danger">Cancel</a>
        </div>
        </form>
    </div>
</div>
<div th:replace="/fragments/partials :: scripts"></div>
<!--<script src="../../static/scripts/file-upload.js"></script>-->
<script type="text/javascript" src="/scripts/cron/jquery-cron.js"></script>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {
        $('#selector').cron({
            initial: "0 12 * * 5",
            onChange: function() {
                $('#recurrence').val($(this).cron("value"));
            }
        }); // apply cron with default options
        var recurrence=[[${remindr.recurrence}]];

        // Updating the value of an existing cron object
        cron_field.cron("value", recurrence);
    });
</script>

</body>
</html>