<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Create a remindr')">
</head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
<div class="container">
    <div class="row">
        <h1>Create a remindr</h1>
        <form th:action="@{/remindrs/create}" method="post" th:object="${remindr}">
            <!--TITLE-->
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" name="title" th:field="*{title}" class="form-control" type="text"/>
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('title')}"
                th:errors="*{title}" >
            </div>

            <!--Description-->
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" th:field="*{description}" class="form-control" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('description')}"
                th:errors="*{description}" >
            </div>

            <!--START DATE/TIME-->
            <div class="form-group">
                <label for="startDateTime">Start Date</label>
                <input id="startDateTime" name="startDateTime" class="form-control" type="datetime-local" th:field="*{startDateTime}" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('startDateTime')}"
                th:errors="*{startDateTime}" >
            </div>

            <!--END DATE/TIME-->
            <div class="form-group">
                <label for="endDateTime">End Date</label>
                <input id="endDateTime" name="endDateTime" class="form-control" type="datetime-local" th:field="*{endDateTime}" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('endDateTime')}"
                th:errors="*{endDateTime}" >
            </div>

            <!--LOCATION-->
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" th:field="*{location}" class="form-control" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('location')}"
                th:errors="*{location}" >
            </div>

            <!--&lt;!&ndash;UPLOAD AN IMAGE&ndash;&gt;-->
            <!--<h2>Upload an Image</h2>-->

            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>
</div>
<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>