<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:h="http://www.w3.org/1999/html">
<head th:replace="/fragments/partials :: head('Create a remindr', '/scripts/css/remindrs/create.css')">
<link type="text/css" href="/scripts/cron/jquery-cron.css" rel="stylesheet" />
</head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
<div class="container">
    <div class="row">
        <h1>Create an event</h1>
        <form th:action="@{/remindrs/create}" method="post" th:object="${remindr}">
            <!--TITLE-->
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" name="title" th:field="*{title}" class="form-control" type="text" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('title')}"
                th:errors="*{title}" >
            </div>

            <!--DESCRIPTION-->
            <div class="form-group">
                <label for="description">Description (optional) </label>
                <textarea class="form-control" rows="3" id="description" name="description" th:field="*{description}"></textarea>
            </div>
            <div
                    class="alert alert-danger"
                    th:if="${#fields.hasErrors('description')}"
                    th:errors="*{description}" >
            </div>

            <!--&lt;!&ndash;Click this to toggle optional recurring form&ndash;&gt;-->
            <!--<label for="optional-recurring">Set a recurring event</label>-->
            <!--<input id="optional-recurring" type="checkbox" />-->

            <!--&lt;!&ndash;RECURRING EVENT INFO&ndash;&gt;-->
            <!--<div id='selector' class="form-group">-->
                <!--<label class="hidden" id="recurring-label" for="recurrence">Recurring event (optional) </label>-->
                <!--<input class="form-control hidden" name="recurrence" id="recurrence" th:field="*{recurrence}"/>-->
            <!--</div>-->

            <!--START DATE/TIME-->
            <div class="form-group">
                <label for="startDateTime">Start date/ time </label>
                <input id="startDateTime" name="startDateTime" class="form-control" type="datetime-local" th:field="*{startDateTime}" min="2017-01-01T00:00" max="3000-01-01T00:00"/>
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('startDateTime')}"
                th:errors="*{startDateTime}" >
            </div>

            <!--Click this to toggle optional enddate form-->
            <label for="optional-enddate">Set an end date/ time</label>
            <input id="optional-enddate" type="checkbox" />

            <!--END DATE/TIME-->
            <!--<div class="form-group">-->
                <!--<label for="endDateTime" style="display:none;" id="enddate-label">Event end date/ time (optional)</label>-->
                <input id="endDateTime" name="endDateTime" class="form-control" style="display:none;" type="datetime-local" th:field="*{endDateTime}" min="2017-06-01T00:00" max="3000-01-01T00:00"/>
            <!--</div>-->
            <div
                    class="alert alert-danger"
                    th:if="${#fields.hasErrors('endDateTime')}"
                    th:errors="*{endDateTime}" >
            </div>

            <!--TIME ZONE LIST-->
            <div class="form-group">
                <label for="timeZone">Timezone</label>
                    <select id="timeZone" name="timezone">
                        <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="US/Hawaii">(GMT-10:00) Hawaii</option>
                        <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="US/Alaska">(GMT-09:00) Alaska</option>
                        <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="US/Pacific">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                        <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="US/Mountain">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                        <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="US/Central">(GMT-06:00) Central Time (US &amp; Canada)</option>
                        <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="US/Eastern">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                    </select>
            </div>

            <!--LOCATION-->
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" th:field="*{location}" class="form-control" />
            </div>
            <div
                class="alert alert-danger"
                th:if="${#fields.hasErrors('location')}"
                th:errors="*{location}" >
            </div>

            <!--UPLOAD AN IMAGE-->
            <input id="pic-input" th:field="*{uploadPath}" class="hidden"/>
                <a class="btn btn-primary" id="add-pic" style="width:fit-content">
                    <i class="fa fa-camera-retro" aria-hidden="true" style="font-size:32px;"></i>
                </a>
            <img id="image-preview" style="display:block" />

            <!--&lt;!&ndash;UPLOAD AN IMAGE&ndash;&gt;-->
            <!--<h2>Upload an Image</h2>-->
            <!--<form action="/fileupload" method="post" enctype="multipart/form-data">-->
            <!--<div class="form-group">-->
                <!--<label for="myFile">Upload an event image</label>-->
                <!--<input type="file" id="myFile" name="myFile" th:field="*{uploadPath}" class="form-control" />-->
                       <!--&lt;!&ndash;onchange="myFunction()" />&ndash;&gt;-->
                <!--<input type="submit" value="Upload" class="btn" />-->
            <!--</div>-->
            <!--</form>-->

            <!--<p id="demo"></p>-->

        <!--<div class="row">-->
            <br />
            <input class="btn btn-primary" type="submit" value="Next" th:href="@{/remindrs/add-contacts}"/>
            <!--<a href="/remindrs/add-contacts" class="btn btn-primary">Next: Add contacts</a>-->
            <a href="/remindrs" class="btn btn-primary">Cancel</a>
        <!--</div>-->
        </form>
    </div>
</div>

<nav th:replace="/fragments/partials :: footer"></nav>

<div th:replace="/fragments/partials :: scripts"></div>
<script src="../../static/scripts/file-upload.js"></script>
<script type="text/javascript" src="/scripts/cron/jquery-cron.js"></script>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {
        $("#endDateTime").val('');

        // check if the checkbox is checked (say that five times fast!!)
        $("#optional-enddate").click(function () {
            var isItChecked = $('#optional-enddate').prop('checked');

            if (isItChecked) {
                console.log("It's checked!");

                $("#endDateTime").show();
//                $("#enddate-label").show();
//                $("#enddate-label").attr("style","display:block;");

            } else {
                console.log("It's not checked!");
                $("#endDateTime").hide();
                $("#endDateTime").val('');
                $("#enddate-label").hide();
            }
        });


//        $("#optional-recurring").click(function () {
//            var isItChecked = $('#optional-recurring').prop('checked');
//
//            if (isItChecked) {
//
//                // if it's checked, show the cron field
//                $('#selector').cron({
//                    initial: "0 12 * * 5",
//                    onChange: function() {
//                        $('#recurrence').val($(this).cron("value"));
//                    }
//                });
//
//                // apply cron with default options
//                var recurrence=[[${remindr.recurrence}]];
//
//                // Updating the value of an existing cron object
//                cron_field.cron("value", recurrence);
//
//                // if it's checked, show the cron field and its label
//                $("#recurring-label").show();
//                $("#selector").show();
//
//            } else {
//
//                $("#selector").hide();
//                $("#recurring-label").hide();
//            }
//        });


    ///////////////
    // FILESTACK //
    ///////////////
    $("#add-pic").click(openPicker);
    var fsClient = filestack.init('AjqlwAL0oTqy2FzYw5Eylz');

    function openPicker (event) {
        console.log(event);
//        $("#add-pic").attr("Hidden", "hidden");

        fsClient.pick({
            fromSources:["local_file_system","url","imagesearch","facebook","instagram","googledrive","dropbox"],
            accept:["image/*"],
            maxFiles:1,
            transformations:{
                crop:true,
                circle:true,
                rotate:true},
            maxSize:1000000
        }).then(function(response) {
            // declare this function to handle response
            function handleFilestack (response) {
                console.log(response);
                $("#pic-input").val(response.filesUploaded[0].url);
                $("#image-preview").attr(
                    {
                        "src":response.filesUploaded[0].url,
                        "width": "200"
                    });
                console.log(response.filesUploaded[0].url);
            }

            handleFilestack(response);


//            $("#submit-pic").removeAtt("Hidden");
        });
    }

    });
</script>
</body>
</html>