<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Edit Your Remindr')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
<div class="container">
    <h1>Edit a Post</h1>
    <form th:action="${'/remindr/'+ remindr.id +'/edit'}" method="post" th:object="${remindr}">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" th:field="*{title}" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" th:field="*{description}" class="form-control" />
        </div>

        <div class="form-group">
            <label for="startDateTime">Start Date</label>
            <input id="startDateTime" name="startDateTime" class="form-control" type="datetime-local" th:field="*{startDateTime}" />
        </div>

        <div class="form-group">
            <label for="endDateTime">End Date</label>
            <input id="endDateTime" name="endDateTime" class="form-control" type="datetime-local" th:field="*{endDateTime}" />
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" th:field="*{location}" class="form-control" />
        </div>


        <input type="submit" />
    </form>
</div>
<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>