<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/partials :: head('Create a remindr event', '/scripts/css/remindrs/edit-alerts.css')">
</head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
<!--DROPDOWN FOR CONTACTS-->
<div class="container">
    <h2>Edit remindr(s)</h2>
    <form th:action="@{/remindrs/{id}/edit-alerts(id = ${remindr.id})}" th:method="POST" th:object="${remindr}" id="surveyForm" >
        <input type="hidden" name="alerts" value=""/>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="ZERO" name="alerts" th:checked="${remindr.ZERO}" />
                  </span>
                    <input type="text" class="form-control" readonly="readonly" value="At time of event"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="FIFTEEN" name="alerts" th:checked="${remindr.FIFTEEN}" />
                  </span>
                    <input type="text" class="form-control" aria-label="..." readonly="readonly" value="15 minutes before"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="THIRTY" name="alerts" th:checked="${remindr.THIRTY}" />
                  </span>
                    <input type="text" class="form-control" readonly="readonly" value="30 minutes before"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="HOUR" name="alerts" th:checked="${remindr.HOUR}" />
                  </span>
                    <input type="text" class="form-control" readonly="readonly" value="1 hour before"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="DAY" name="alerts" th:checked="${remindr.DAY}"/>
                  </span>
                    <input type="text" class="form-control" readonly="readonly" value="1 day before"/>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" value="WEEK" name="alerts" th:checked="${remindr.WEEK}" />
                  </span>
                    <input type="text" class="form-control" value="1 week before" readonly="readonly" />
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>

        <a th:href="@{/remindrs/{id}(id=${remindr.id})}" class="btn btn-primary">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Submit" th:href="@{/remindrs}"/>
        <!--<a href="/remindrs/add-contacts" class="btn btn-primary">Next: Add contacts</a>-->
    </form>
</div>
<div th:replace="/fragments/partials :: scripts"></div>
<script type="text/javascript" th:src="@{/scripts/add_button_alerts.js}"></script>
</body>
</html>