<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Show remindr')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
    <div class="container">
        <div class="row">

        <h1>Show remindr</h1>

        <h2 th:text="${remindr.title}"></h2>

        <h4>Description:</h4>
        <p th:text="${remindr.description}"></p>

        <h4>Start Date/Time:</h4>
        <p th:text="${startdate}"></p>
        <p th:text="${starttime}"></p>

        <h4>End Date/Time:</h4>
        <p th:text="${enddate}"></p>
        <p th:text="${endtime}"></p>

        <h4>Location:</h4>
        <p th:text="${remindr.location}"></p>

        <h4>Created by:
            <span th:text="${remindr.user.contact.FirstName + ' ' + remindr.user.contact.LastName}"></span>
        </h4>

        <!--<div sec:authorize="isAuthenticated()">-->
        <form method="post" th:action="@{/remindrs/{id}/delete(id=${remindr.id})}">
            <input class="btn btn-default" type="submit" value="Delete" />
        </form>
        <button class="btn btn-default" type="submit">
            <a th:href="@{/remindrs/{id}/edit(id=${remindr.id})}">Edit</a>
        </button>
        <!--</div>-->
        <br />
        <button class="btn btn-primary" type="submit" ><a th:href="@{/remindrs}" style="color: white;">View all remindrs</a></button>
        </div>
    </div>

<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>