<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Show All Remindrs')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div class="container">
    <h1>Show All Remindrs</h1>
    <div th:each="remindr : ${remindrs}">
        <h1>
            <a th:href="@{/remindrs/{id}(id=${remindr.id})}" th:text="${remindr.title}"></a>
        </h1>
        <p th:text="${remindr.description}"></p>
    </div>
</div>

<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>