<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Show remindr')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
    <div class="container">
        <div class="row">

        <h1>Show remindr</h1>

        <h2 th:text="${remindr.title}"></h2>
        <!--<img th:src="${remindr.uploadPath}" alt="event image" />-->

        <h4>Event description</h4>
        <p th:text="${remindr.description}"></p>

        <!--START DATE AND TIME-->
        <div th:if="${startdate} != null">
            <h4>Event start date/ time</h4>
            <p th:text="${startdate}"></p>
        </div>
        <div th:if="${starttime} != null">
            <p th:text="${starttime}"></p>
        </div>
        <!--<p th:text="${remindr.startDateTime}"></p>-->

        <!--END DATE AND TIME-->
        <div th:if="${enddate} != null">
        <h4>Event end date/ time</h4>
            <p th:text="${enddate}"></p>
        </div>
        <div th:if="${endtime} != null">
            <p th:text="${endtime}"></p>
        </div>
        <!--<p th:text="${remindr.endDateTime}"></p>-->

        <!--in cron job format-->
        <h4>Recurring date/ time</h4>
        <p th:text="${remindr.recurrence}"></p>

        <h4>Event location</h4>
        <p th:text="${remindr.location}"></p>

        <button class="btn btn-primary"  type="submit">
            <a th:href="@{/remindrs/{id}/edit(id=${remindr.id})}" style="color:white;">Edit event details</a>
        </button>

        <!--</div>-->
        <br />

        <!--ALERTS-->
        <h4>You have
            <span th:text="${numberOfAlerts}"></span>
            alert(s) on this remindr:
        </h4>
        <ul th:each="alert : ${alerts}">
            <li th:text = "${alert}">
            </li>
        </ul>
        <button class="btn btn-primary" type="submit">
            <a th:href="@{/remindrs/{id}/edit-alerts(id=${remindr.id})}" style="color:white;">Edit your alerts</a>
        </button>

        <!--CONTACTS-->
        <h4> You have attached
            <span th:text="${contactSize}"></span>
            contact(s) to this remindr:
        </h4>
        <ul th:each="contact : ${contacts}">
            <li th:text = "${contact.firstName + ' ' + contact.lastName}"></li>
        </ul>
        <button class="btn btn-primary" type="submit">
            <a th:href="@{/remindrs/{id}/edit-contacts(id=${remindr.id})}" style="color:white;">Edit your contacts</a>
        </button>


        <h4>Created by:
            <span th:text="${remindr.user.contact.FirstName + ' ' + remindr.user.contact.LastName}"></span>
        </h4>

        <!--<div sec:authorize="isAuthenticated()">-->
        <!--<form method="post" th:action="@{/remindrs/{id}/delete(id=${remindr.id})}">-->
            <!--<input class="btn btn-default" type="submit" value="Delete" />-->
        <!--</form>-->

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteRemindrModal">
            Delete
        </button>
        <button class="btn btn-primary" type="submit" >
            <a th:href="@{/remindrs}" style="color:white;">Back to remindrs</a>
        </button>
        </div>
    </div>

<div class="modal fade" tabindex="-1" role="dialog" id="deleteRemindrModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete remindr</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this remindr?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button onclick="confirmDeleteRemindr()" type="button" data-dismiss="modal" class="btn btn-primary">Confirm delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div th:replace="/fragments/partials :: scripts"></div>
<div th:replace="/fragments/deleteRemindrModal :: deleteRemindrModalScript"></div></body>
</html>