<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
</head>
<body>


<div th:fragment="deleteContactModalScript">
    <script th:inline="javascript">
        function confirmDeleteContact() {
            var contactId=[[${contact.id}]];
            $.ajax({
                url: '/contacts/' + contactId + '/delete',
                type: 'POST',
                success: function(result) {
                    location.href="/contacts";
                },
                error: function(result){}
            });	}
    </script>
</div>
</body>
</html>