<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:fragment="head(title, href)">
    <meta charset="UTF-8" />
	<!--token information is inserted into meta tag-->
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${title}"></title>
    <!-- include stylesheets, etc here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<link rel="stylesheet" href="/scripts/css/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/scripts/css/base.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,800,800i,900,900i" rel="stylesheet" />
	<link rel="stylesheet" href="/scripts/css/font-awesome-4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" th:href="${href}" />
	<link rel="icon" type="image/x-icon" href="/scripts/img/header_icon.ico" />
</head>


<nav th:fragment="navbar" class="navbar navbar-default top-navbar">
	<div class="container-fluid" id="nav-container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/scripts/img/remindrLogo2.png" width = "155px"/>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="!isAuthenticated()">
					<a href="/login">Login</a>
				</li>

				<li sec:authorize="!isAuthenticated()">
					<a href="/register">Register</a>
				</li>


				<li sec:authorize="isAuthenticated()" role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
					   aria-expanded="false">
						<span sec:authorize="isAuthenticated()">Hi
							<span sec:authentication="principal.contact.firstName"></span>
						</span>
						<span class="glyphicon glyphicon-user"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="text-center"><a href="/profile"><span class="glyphicon glyphicon-dashboard"></span> View dashboard</a></li>
						<li class="text-center"><a href="/profile/edit"><span class="glyphicon glyphicon-cog"></span> Account settings</a></li>
						<li class="text-center"><a href="/remindrs/create"><span class="glyphicon glyphicon-plus"></span> Create an event</a></li>
					</ul>
				</li>
				<li sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" th:method="post">
						<button class="btn-link btn" style="margin-top: 8px">Logout
						</button>
					</form>
				</li>
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<nav th:fragment="footer" class="navbar navbar-default navbar-fixed-bottom">
	<div class="container" style="text-align:center;">
		<ul id="footer-links">
			<li>
				<a href="/howitworks">About</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="https://www.facebook.com/remindrlife/" target="_blank">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/remindrlife" target="_blank">
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/remindrlife/" target="_blank">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="mailto:info@remindr.life">info@remindr.life</a>
			</li>
		</ul>
	</div>
</nav>

<div th:fragment="scripts">

	<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
	<script src="https://static.filestackapi.com/v3/filestack.js"></script>

</div>
</body>
</html>