<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="/fragments/partials :: head('View All Contacts')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>
<div class="container">
	<div class="row">
		<h1>View all contacts</h1>

<div id="contacts"></div>

	</div>
</div>


<!--<footer th:replace="/fragments/partials :: scripts"></footer>-->
<script
		src="http://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/scripts/contacts.js"></script>
</body>
</html>

