<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Contacts', 'scripts/css/users/contacts.css')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div class="container">
	<div class="row">
		<h1 id="friends" class="text-center">Friends <a href="/contacts/add" class="btn btn-default"><span class="glyph glyphicon-plus"></span></a></h1>

		<div th:if="${contacts.size()} &gt; 0">
			<div class="col-lg-12 searchContainer">
				<input type="text" placeholder="search" id="searchContacts" class="form-control"/>
			</div>
		</div>
		<div th:if="${contacts.size()} == 0">
			<div class="col-lg-12 text-center alert alert-info" role="alert">You don't have any friends yet. Click the plus sign to get started!</div>
			<a href="/contacts/add">
				<img src="/scripts/img/add-friend.png" class="img-responsive" alt="add friends" style="margin: 0 auto;" />
			</a>
		</div>
		<div class="list-group col-lg-12" >
			<div th:each="contact : ${contacts}">
				<a class="list-group-item list-group-item-action" th:href="${'/contacts/' + contact.id}">
				<span th:text="${contact.firstName}"></span>
				<!--<span th:text="${contact.lastName}" th:if="${contact.lastName != null}"></span>-->
				</a>
			</div>
		</div>
	</div>

</div>

<nav th:replace="/fragments/partials :: footer"></nav>

<div th:replace="/fragments/partials :: scripts"></div>
<script>
    $(document).ready(function(){
        $("#searchContacts").keyup(function(){
            $("div.list-group>div").each(function(){
                var show = $(this).text().toLowerCase().indexOf($("#searchContacts").val().toLowerCase()) >= 0;
                if(show){
                    $(this).show();
                } else {
                    $(this).hide();
                }
            })
        })
    });
</script>
</body>
</html>