<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Contacts')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div class="container">
    <div class="row">
        <h1>View all contacts:</h1>

        <!--&lt;!&ndash;Hard-coded&ndash;&gt;-->
        <!--<div>-->
        <!--<h2>First and last name</h2>-->
        <!--<h4>Phone number</h4>-->
        <!--</div>-->

        <!--<div>-->
        <!--<h2>First and last name</h2>-->
        <!--<h4>Phone number</h4>-->
        <!--</div>-->

        <!--<div>-->
        <!--<h2>First and last name</h2>-->
        <!--<h4>Phone number</h4>-->
        <!--</div>-->

        <!--Dynamic -->
        <div class="contact" th:each="contact : ${contacts}">
            <h2 id="contact-name"><a th:href="${'/contacts/' + contact.id}"
                   th:text="${contact.firstName} + ' ' + ${contact.lastName}"></a>
            </h2>
            <h4 id="contact-number" th:text="${contact.phoneNumber}"></h4>
        </div>
    </div>
</div>

<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>
