<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/partials :: head('Update contact','scripts/css/remindrs/edit-contact.css')">
</head>
<body>

<nav th:replace="fragments/partials :: navbar"></nav>

<div class="container">

    <div class="row">

        <h1>Update contact</h1>
        <!--<div>-->
        <!--sec:authorize="isAuthenticated()"-->
        <!--&gt;-->

        <!--First name: <span th:text="${firstName}"/>-->
        <!--#authentication.principal.firstName}"/>-->
        <!--Email: <span th:text="${username}"/>-->
        <!--#authentication.principal.username-->
        <!--}"/>-->
        <!--</div>-->

        <!--<div sec:authorize="!isAuthenticated()">-->
        <!--Please log in-->
        <!--</div>-->

        <form th:action="${'/contacts/'+ contact.id +'/edit'}"
              th:method="POST" th:object="${contact}">

            <div class="col-xs-12 col-md-6">

                <a href="#" class="list-group-item active"></a>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" th:field="*{firstName}" />
                        <div
                        class="alert alert-danger"
                        th:if="${#fields.hasErrors('firstName')}"
                        th:errors="*{firstName}">
                        </div>

                    </div>

                    <div class="form-group col-md-6">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" th:field="*{lastName}" />

                        <div
                        class="alert alert-danger"
                        th:if="${#fields.hasErrors('lastName')}"
                        th:errors="*{lastName}">
                        </div>

                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="phoneNumber" class="col-form-label">Cell phone number</label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="(xxx) xxx-xxxx" th:field="*{phoneNumber}" />
                        <div
                        class="alert alert-danger"
                        th:if="${#fields.hasErrors('phoneNumber')}"
                        th:errors="*{phoneNumber}">
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5">
                <button type="submit" id="update-contact" class="btn btn-primary" style="width: 100%;">Update contact</button>
            </div>
        </form>

        <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5">
            <a href="/contacts" class="btn btn-primary" style="width: 100%;">Cancel</a>
        </div>

    </div>

</div>


<div th:include="fragments/partials :: scripts"></div>
</body>
</html>