<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/partials :: head('Dashboard')">
</head>
<body>

<nav th:replace="fragments/partials :: navbar"></nav>

<div class="container">

    <div class="row">

        <h1>Dashboard</h1>
<!--<div>-->
        <!--sec:authorize="isAuthenticated()"-->
<!--&gt;-->

    <!--First name: <span th:text="${firstName}"/>-->
    <!--#authentication.principal.firstName}"/>-->
    <!--Email: <span th:text="${username}"/>-->
    <!--#authentication.principal.username-->
    <!--}"/>-->
<!--</div>-->

<!--<div sec:authorize="!isAuthenticated()">-->
    <!--Please log in-->
<!--</div>-->

        <div class="list-group col-xs-12 col-sm-6">
            <p class="list-group-item active">
                Manage friends
            </p>
            <a href="/contacts/add" class="list-group-item">Add/import friends</a>
            <a href="/contacts" class="list-group-item">View friends</a>
        </div>

        <div class="list-group col-xs-12 col-sm-6">
            <p class="list-group-item active">
                Manage events
            </p>
            <a href="/remindrs"
                    class="list-group-item">View your events</a>
                    <!--th:href="/ads/users-ads?id=${sessionScope.user.id}"-->
            <a href="/remindrs/create" class="list-group-item">Create an event</a>
        </div>

    </div>

</div>


<div th:include="fragments/partials :: scripts"></div>
</body>
</html>