<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Register')"></head>

<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div class="container">
	<div class="row">
		<h1>Create an account</h1>

		<form th:action="@{/register}" th:method="post" th:object="${user}">
			<!--<div class="form-group">-->
				<!--<label for="firstName">First Name</label>-->
				<!--<input id="firstName" name="firstName" th:field="*{user.contact.firstName}" class="form-control"/>-->
				<!--<div-->
					<!--class="alert alert-danger"-->
					<!--th:if="${#fields.hasErrors('firstName')}"-->
					<!--th:errors="*{user.contact.firstName}" >-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="form-group">-->
				<!--<label for="lastName">Last Name</label>-->
				<!--<input id="lastName" name="lastName" th:field="*{user.contact.lastName}" class="form-control"/>-->
				<!--<div-->
					<!--class="alert alert-danger"-->
					<!--th:if="${#fields.hasErrors('lastName')}"-->
					<!--th:errors="*{user.contact.lastName}">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="form-group">-->
				<!--<label for="phoneNumber">Cell phone number</label>-->
				<!--<input type="text" id="phoneNumber" name="phoneNumber" th:field="*{user.contact.phoneNumber}" class="form-control" />-->
				<!--<div-->
					<!--class="alert alert-danger"-->
					<!--th:if="${#fields.hasErrors('phoneNumber')}"-->
					<!--th:errors="*{user.contact.phoneNumber}" >-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">
				<label for="username">Email</label>
				<input type="text" id="username" name="username" th:field="*{username}" class="form-control" />
				<div
					class="alert alert-danger"
					th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}" >
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input id="password" name="password" type="password" th:field="*{password}" class="form-control"/>
				<div
					class="alert alert-danger"
					th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">
				</div>
			</div>

			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
	</div>
</div>
<div th:replace="/fragments/partials :: scripts"></div>

</body>
</html>