<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('View contact')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div class="container">

	<div class="row">
		<h1>View contact</h1>


		<h2 th:text="${contact.get(0).getNames().get(0).getGivenName} + ' ' + ${contact.get(0).getNames().get(0).getFamilyName()}"></h2>


		<h3 th:text="${contact.get(0).getPhoneNumbers().get(0).getValue}"></h3>

		<!--<h3 th:text="${username}"></h3>-->

		<a href="/google-contacts" class="btn btn-primary">View all contacts</a>

	</div>

</div>

<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>