<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('View contact')"></head>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div class="container">

	<div class="row">

		<h1>View contact:</h1>

		<h2 th:text="${contact.firstName} + ' ' + ${contact.lastName}"></h2>

		<h3 th:text="${contact.phoneNumber}"></h3>
		<h3 th:text="${contact.username}"></h3>

	</div>

</div>

<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>