<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('How it works','/scripts/css/index.css')"></head>
<meta charset="UTF-8" />
<title>Home</title>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div class="container our-story-container">
    <div class="row our-story">
        <h1 class="text-center our-story"></h1>
        <img class="col-xs-12 col-sm-6 phone" src="/scripts/img/remindriphone.png" width="300px"/>
        <p class="col-xs-12 col-sm-6">
            <strong>
                Remindr was actually inspired by true events.
            </strong>
            <br />
            <br />
            One of Amy's friends, who is a professional cosplayer, had recently entered a competition and asked that her friends vote for her costume on a daily basis. However, she was having to text different groups of friends every single day to remind us all to vote for her!
            <br />
            <br />
            <strong>
                Remindr to the rescue!
            </strong>
        </p>
    </div>
</div>

<nav th:replace="/fragments/partials :: footer"></nav>
<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>