<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('How it works','/scripts/css/howitworks.css')"></head>
<meta charset="UTF-8" />
<title>Home</title>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div class="container our-story-container">
    <div class="row our-story">
        <h1 class="text-center our-story">#1</h1>
        <img class="col-xs-12 col-sm-6 phone" src="/scripts/img/phone1_howitworks.png"/>
        <p class="col-xs-12 col-sm-6">
            <strong>
                First, remindr will send an invitation with the photo, title, description, and event time. This initial text will ask whether or not the remindee would like to opt in to receiving remindrs for this event.
            </strong>
        </p>
    </div>
    <div class="row our-story">
        <h1 class="text-center our-story">#2</h1>
        <img class="col-xs-12 col-sm-6 phone" src="/scripts/img/phone2_howitworks.png"/>
        <p class="col-xs-12 col-sm-6">
            <strong>
                We want to make sure that remindrs are only being sent to the people who want to receive them. With remindr's opt-in process, we can make this happen.
            </strong>
        </p>
    </div>
    <div class="row our-story">
        <h1 class="text-center our-story">#3</h1>
        <img class="col-xs-12 col-sm-6 phone" src="/scripts/img/phone3_howitworks.png"/>
        <p class="col-xs-12 col-sm-6">
            <strong>
                As soon as the remindee opts in, they are given a automatic confirmation text so that they know they have opted in.
            </strong>
        </p>
    </div>
    <div class="row our-story">
        <h1 class="text-center our-story">#4</h1>
        <img class="col-xs-12 col-sm-6 phone" src="/scripts/img/phone4_howitworks.png"/>
        <p class="col-xs-12 col-sm-6">
            <strong>
                Finally, the remindee can receive remindrs at the specified alert times.
            </strong>
        </p>
    </div>
</div>

<nav th:replace="/fragments/partials :: footer"></nav>
<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>