<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/partials :: head('Home','/scripts/css/index.css')"></head>
    <meta charset="UTF-8" />
    <title>Home</title>
<body>
<nav th:replace="/fragments/partials :: navbar"></nav>

<div id="slider">
    <figure>
        <img class="img-responsive" src="/scripts/img/main-picture-2.jpg" />
        <img class="img-responsive" src="/scripts/img/dinner-2.jpg" />
        <img class="img-responsive" src="/scripts/img/meeting-2.jpg" />
        <img class="img-responsive" src="/scripts/img/birthday-2.jpg" />
        <img class="img-responsive" src="/scripts/img/main-picture-2.jpg" />
    </figure>
    <div class="bg">
    </div>
</div>

<nav th:replace="/fragments/partials :: footer"></nav>
<div th:replace="/fragments/partials :: scripts"></div>
</body>
</html>