div.card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}


ul {
    padding: 0;
}

li {
    list-style-type: none;
}

div.card-footer {
    margin-top: 0;
}

.card-header {
    padding-bottom: 17px;
}

h2 {
    color: #6E7E85;
}

h4 {
    padding: 12px;
}

h2.card-header {
    color: #F2545B;
}

div.pic-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.friends {
    width: 100%;
}

div.alerts {
    width: 100%;
}

div.friend-alert {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    border-top: 1px solid #00000026;
}

div.grey-background {
    background-color: #00000026;
    width:100%;
}

div.buttons {
    width: 100%;
    padding: 12px;
}

.text-muted {
    color: white;
}

h4 {
    font-weight: 300;
    margin-top: 0;
}


@media (max-width: 770px) {
    div.pic-details {
        display: flex;
        flex-direction: column;

    }

    h2.card-title {
        margin-top: 31px;
    }

}

